*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Euclid Circular A";
  font-size: 0.5208335vw;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: #262525;
  background-color: #FFFFFF;
  font-size: 3rem;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 141rem;
  margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 48em) {
  html {
    font-size: 5px;
    font-size: 1.5625vw;
    font-size: 1.3333333333vw;
    -webkit-text-size-adjust: none;
  }

  body {
    -webkit-text-size-adjust: none;
  }

  .container {
    padding: 0 4rem;
    width: 100%;
  }
}
.circle-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7.1rem;
  padding-left: 2.9rem;
}
.circle-btn:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 7.1rem;
  height: 7.1rem;
  opacity: 0.7;
  border-radius: 100%;
  background: #fff;
}
.circle-btn__text {
  position: relative;
  top: -2px;
  margin-right: 1.4rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.54rem;
}
.circle-btn__arrow {
  width: 3.4rem;
  height: 1.2rem;
  fill: #262525;
}

.article__title {
  font-weight: 500;
  font-size: 4rem;
  line-height: 5.07rem;
}
.article__text {
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #62636C;
}

.article-why-you {
  margin-bottom: 18rem;
}
.article-why-you__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.article-why-you__text-container {
  width: 98rem;
}
.article-why-you__text-block {
  margin-bottom: 5rem;
}
.article-why-you__title {
  margin-bottom: 2rem;
}
.article-why-you__text {
  margin-bottom: 2rem;
}
.article-why-you__image-container {
  width: 31.7rem;
}
.article-why-you__image-block {
  width: 31.7rem;
  height: 45.4rem;
}
.article-why-you__image-block > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.article-why-you__image-block:nth-child(-n+1) {
  margin-bottom: 5rem;
}

.list-features {
  margin-bottom: 18rem;
}
.list-features--left .list-features__image-block {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.list-features__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 130rem;
}
.list-features__image-block {
  width: 60rem;
  height: 50rem;
}
.list-features__image-block > img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.list-features__text-block {
  width: 62rem;
}
.list-features__title {
  margin-bottom: 2.2rem;
  font-weight: 500;
  font-size: 4.5rem;
  line-height: 5.71rem;
}
.list-features__list-item {
  list-style-type: disc;
  margin-left: 2.5rem;
}

body.lock {
  overflow: hidden;
}

@media (min-width: 48.01em) {
  .mobile {
    display: none;
  }
}
@media (max-width: 48em) {
  .desktop {
    display: none;
  }
}