*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Euclid Circular A";
  font-size: 0.5208335vw;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: #262525;
  background-color: #FFFFFF;
  font-size: 3rem;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 141rem;
  margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 48em) {
  html {
    font-size: 5px;
    font-size: 1.5625vw;
    font-size: 1.3333333333vw;
    -webkit-text-size-adjust: none;
  }

  body {
    -webkit-text-size-adjust: none;
  }

  .container {
    padding: 0 4rem;
    width: 100%;
  }
}
.circle-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 7.1rem;
  padding-left: 2.9rem;
}
.circle-btn:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 7.1rem;
  height: 7.1rem;
  opacity: 0.7;
  border-radius: 100%;
  background: #fff;
}
.circle-btn__text {
  position: relative;
  top: -2px;
  margin-right: 1.4rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.54rem;
}
.circle-btn__arrow {
  width: 3.4rem;
  height: 1.2rem;
  fill: #262525;
}
.circle-btn--gray:before {
  background: #E6EAF4;
}

.article__title {
  font-weight: 500;
  font-size: 4rem;
  line-height: 5.07rem;
}
.article__text {
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #62636C;
}

.info-cards__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.info-cards__item {
  width: 43.4rem;
  min-height: 47.1rem;
  padding: 5rem;
  margin-right: 5rem;
  background-color: #FFF;
  -webkit-box-shadow: 1.5rem 2rem 10rem 0 rgba(218, 221, 231, 0.6);
          box-shadow: 1.5rem 2rem 10rem 0 rgba(218, 221, 231, 0.6);
}
.info-cards__item:nth-child(n+4) {
  margin-top: 9rem;
}
.info-cards__item:nth-child(3n+3) {
  margin-right: 0;
}
.info-cards__number-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.2rem;
}
.info-cards__number-icon {
  width: 2.3rem;
  height: 2.3rem;
  margin-right: 1.7rem;
}
.info-cards__number-icon path {
  fill: #9661B0;
}
.info-cards__number {
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 5.31rem;
}
.info-cards__item-title {
  margin-bottom: 3rem;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 2.8rem;
}
.info-cards__item-description {
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #62636C;
}

@media (max-width: 48em) {
  .circle-btn {
    height: 11.6rem;
    padding-left: 5.8rem;
  }
  .circle-btn:before {
    width: 11.6rem;
    height: 11.6rem;
  }
  .circle-btn__text {
    top: -1px;
    margin-right: 2.8rem;
    font-size: 3.6rem;
    line-height: 4.55rem;
  }
  .circle-btn__arrow {
    width: 6.8rem;
    height: 2.4rem;
  }

  .info-cards__item {
    width: 100%;
    min-height: 67rem;
    padding: 6.2rem;
    margin-right: 0;
    -webkit-box-shadow: 3rem 4rem 20rem 0 rgba(218, 221, 231, 0.6);
            box-shadow: 3rem 4rem 20rem 0 rgba(218, 221, 231, 0.6);
  }
  .info-cards__item:nth-child(n+4) {
    margin-top: 7rem;
  }
  .info-cards__item:nth-child(n+2) {
    margin-top: 7rem;
  }
  .info-cards__number-block {
    margin-bottom: 6rem;
  }
  .info-cards__number-icon {
    width: 4.6rem;
    height: 4.6rem;
    margin-right: 1.8rem;
  }
  .info-cards__number {
    font-size: 4.8rem;
    line-height: 3.7rem;
  }
  .info-cards__item-title {
    font-size: 3rem;
    line-height: 4rem;
  }
  .info-cards__item-description {
    font-size: 3.1rem;
    line-height: 3.7rem;
  }
}
.footer__block--top {
  padding: 9.3rem 0;
  background-color: #E6EAF4;
}
.footer__block--top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__block--bottom {
  padding: 2rem 0;
}
.footer__block--bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__logo {
  display: block;
  width: 26.6rem;
  height: 4.9rem;
}
.footer__logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 28rem;
}
.footer__list-item {
  margin-bottom: 1.3rem;
  font-size: 1.5rem;
  line-height: 2.6rem;
}
.footer__list-item--title {
  margin-bottom: 1.6rem;
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 2.8rem;
}
.footer__link-bottom {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #62636C;
}
.footer__copyright {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.footer__req-logo {
  display: block;
  width: 18.8rem;
  height: 4.7rem;
}
.footer__req-logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 48em) {
  .footer__block--top {
    padding: 10rem 0;
  }
  .footer__block--top .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
  .footer__block--bottom {
    padding: 4rem 0;
  }
  .footer__block--bottom .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__logo {
    width: 100%;
    height: 10rem;
    margin-bottom: 5rem;
  }
  .footer__logo > img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .footer__item-block {
    width: 100%;
    max-width: none;
  }
  .footer__item-block:nth-child(n+2) {
    margin-top: 5rem;
  }
  .footer__list-item {
    margin-bottom: 2.6rem;
    font-size: 3rem;
    line-height: 4.2rem;
  }
  .footer__list-item--title {
    margin-bottom: 3.2rem;
    font-size: 3.8rem;
    line-height: 4.6rem;
  }
  .footer__link-bottom {
    font-size: 3.2rem;
    line-height: 4rem;
    margin-bottom: 3rem;
  }
  .footer__copyright {
    font-size: 3.2rem;
    line-height: 4rem;
    margin-bottom: 5rem;
  }
  .footer__req-logo {
    width: 100%;
    height: 12rem;
  }
  .footer__req-logo > img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.intro {
  position: relative;
  background: linear-gradient(113.79deg, #F6F7FA 19.84%, #E6EAF4 70.46%);
}
.intro__bg {
  position: absolute;
  top: -8.1rem;
  left: 0;
  width: 100%;
  height: calc(100% + 8.1rem);
  mix-blend-mode: screen;
}
.intro__bg > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.intro__text-block {
  width: 70rem;
}
.intro__sub-title {
  margin-bottom: 3.1rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.5rem;
}
.intro__title {
  margin-bottom: 6rem;
  font-weight: 500;
  font-size: 6rem;
  line-height: 6.2rem;
  letter-spacing: 0.01em;
}
.intro__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 69rem;
}
.intro__swiper {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 60rem;
  height: 60rem;
  margin-bottom: -7rem;
}
.intro__image-item {
  width: 60rem;
  height: 60rem;
}
.intro__image-item > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.intro__navigation-block {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 5.1rem;
}
.intro__arrow {
  width: 3.4rem;
  height: 3.4rem;
  cursor: pointer;
}
.intro__arrow path {
  fill: #262525;
}
.intro__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2.5rem 0;
}
.intro__pagination .swiper-pagination-current {
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.8rem;
}
.intro__pagination .swiper-pagination-total {
  margin-top: 0.9rem;
  margin-left: 0.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

@media (max-width: 48em) {
  .intro {
    padding-top: 7.6rem;
  }
  .intro__bg {
    top: 0;
    height: 100%;
  }
  .intro__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }
  .intro__text-block {
    width: 100%;
  }
  .intro__sub-title {
    margin-bottom: 2.2rem;
    font-size: 2.8rem;
    line-height: 3.55rem;
  }
  .intro__title {
    margin-bottom: 5rem;
    font-size: 6.4rem;
    line-height: 6.8rem;
  }
  .intro__slider {
    width: 61rem;
  }
  .intro__swiper {
    width: 100%;
    height: 60rem;
    margin-bottom: -12rem;
  }
  .intro__image-item {
    width: 100%;
    height: 60rem;
  }
  .intro__image-item > img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .intro__navigation-block {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 6rem;
  }
  .intro__arrow {
    width: 6rem;
    height: 6.8rem;
  }
  .intro__pagination {
    margin: 2.8rem 0;
  }
  .intro__pagination .swiper-pagination-current {
    font-size: 3.2rem;
    line-height: 4rem;
  }
  .intro__pagination .swiper-pagination-total {
    margin-top: 0.8rem;
    margin-left: 0.5rem;
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
.about-intro {
  margin-bottom: 18rem;
  padding: 6.6rem 0 5rem 0;
  border-bottom: 2px solid #E6EBF5;
}
.about-intro__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about-intro__item {
  max-width: 27rem;
}
.about-intro__item-number {
  margin-bottom: 3rem;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 2.8rem;
}
.about-intro__item-title {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 2.8rem;
}
.about-intro__item-description {
  font-size: 1.7rem;
  line-height: 2.1rem;
  color: #6a6b6e;
}

@media (max-width: 48em) {
  .about-intro {
    margin-bottom: 15rem;
    padding: 10rem 0;
  }
  .about-intro__slider {
    margin-right: -4rem;
  }
  .about-intro__item {
    max-width: 50rem;
  }
  .about-intro__item-number {
    margin-bottom: 5rem;
    font-size: 3.6rem;
    line-height: 4rem;
  }
  .about-intro__item-title {
    margin-bottom: 2rem;
    font-size: 3.6rem;
    line-height: 4rem;
  }
  .about-intro__item-description {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }
}
.prod-category {
  margin-bottom: 18rem;
}
.prod-category__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6rem;
}
.prod-category__title {
  margin-top: -0.8rem;
  font-weight: 500;
  font-size: 4.5rem;
  line-height: 5.71rem;
}
@media (max-width: 48em) {
  .prod-category__title {
    font-size: 6rem;
    line-height: 6.8rem;
  }
}
.prod-category__description {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 84rem;
  font-size: 1.7rem;
  line-height: 2.16rem;
  color: #62636C;
}
.prod-category__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.prod-category__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44rem;
  margin-right: 4.3rem;
}
.prod-category__item:nth-child(n+4) {
  margin-top: 5rem;
}
.prod-category__item:nth-child(3n+3) {
  margin-right: 0;
}
.prod-category__item-image-block {
  width: 34rem;
  height: 29.2rem;
  margin-bottom: 5.5rem;
}
.prod-category__item-image-block > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.prod-category__item-text-block {
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 22rem;
  min-height: 18rem;
  margin-left: -12.5rem;
  padding-bottom: 4rem;
  text-align: center;
  background-color: #FFFFFF;
  -webkit-box-shadow: 1rem 1.5rem 7rem 0 rgba(213, 216, 227, 0.6);
          box-shadow: 1rem 1.5rem 7rem 0 rgba(213, 216, 227, 0.6);
}
.prod-category__item-name {
  padding: 0 1rem;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 2.8rem;
}
.prod-category__arrow {
  position: absolute;
  right: 2.4rem;
  bottom: 2.4rem;
  width: 3.4rem;
  height: 1.1rem;
}
.prod-category__arrow path {
  fill: #6F7385;
}

@media (max-width: 48em) {
  .prod-category {
    margin-bottom: 20rem;
  }
  .prod-category__title-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    margin-bottom: 7rem;
  }
  .prod-category__title {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .prod-category__description {
    width: 100%;
    font-size: 3rem;
    line-height: 3.8rem;
  }
  .prod-category__item {
    width: 100%;
    margin-right: 0;
  }
  .prod-category__item:nth-child(n+4) {
    margin-top: 6rem;
  }
  .prod-category__item:nth-child(n+2) {
    margin-top: 6rem;
  }
  .prod-category__item-image-block {
    width: 52.2rem;
    height: 44.6rem;
    margin-bottom: 8.2rem;
  }
  .prod-category__item-text-block {
    width: 33.8rem;
    min-height: 26.8rem;
    margin-left: -19rem;
    padding-bottom: 8rem;
    -webkit-box-shadow: 2rem 3rem 14rem 0 rgba(213, 216, 227, 0.6);
            box-shadow: 2rem 3rem 14rem 0 rgba(213, 216, 227, 0.6);
  }
  .prod-category__item-name {
    padding: 0 2rem;
    font-size: 3.6rem;
    line-height: 4.3rem;
  }
  .prod-category__arrow {
    right: 4.8rem;
    bottom: 4.8rem;
    width: 6.8rem;
    height: 2.2rem;
  }
}
.choose {
  margin-bottom: 18rem;
}
.choose__title {
  width: 64rem;
  margin-bottom: 7.7rem;
  font-weight: 500;
  font-size: 4.5rem;
  line-height: 5.71rem;
}
@media (max-width: 48em) {
  .choose__title {
    font-size: 6rem;
    line-height: 6.8rem;
  }
}

@media (max-width: 48em) {
  .choose {
    margin-bottom: 20rem;
  }
  .choose__title {
    width: 100%;
    margin-bottom: 7rem;
  }
}
.about-info {
  position: relative;
  margin-bottom: 24rem;
}
.about-info:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: calc(100% + 57rem);
  margin: -44rem 0 -13rem 0;
  background: #E6EAF4;
}
.about-info:after {
  content: "";
  position: absolute;
  bottom: -13rem;
  right: 0;
  z-index: -1;
  display: block;
  width: 78.4rem;
  height: 100%;
  background-color: #fff;
}
.about-info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about-info__info-block {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 62rem;
  margin-right: 5rem;
}
.about-info__title {
  margin-bottom: 7.3rem;
  font-weight: 500;
  font-size: 4.5rem;
  line-height: 5.71rem;
}
@media (max-width: 48em) {
  .about-info__title {
    font-size: 6rem;
    line-height: 6.8rem;
  }
}
.about-info__sub-title {
  margin-bottom: 3.1rem;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 2.8rem;
}
.about-info__text {
  margin-bottom: 5rem;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #535966;
}
.about-info__quote-block {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about-info__image-block {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 47.7rem;
  height: 45.3rem;
  margin-right: 5rem;
  background-color: #fff;
  -webkit-box-shadow: 3rem 5rem 9rem 0 rgba(218, 221, 231, 0.6);
          box-shadow: 3rem 5rem 9rem 0 rgba(218, 221, 231, 0.6);
}
.about-info__image-block > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
}
.about-info__quote-content {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 18.6rem;
}
.about-info__quote {
  margin-bottom: 5.8rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.5rem;
}
.about-info__quote-icon {
  display: block;
  width: 3.2rem;
  height: 2.1rem;
}
.about-info__quote-icon path {
  fill: #DBDEE4;
}
.about-info__quote-icon--top {
  margin-bottom: 2.7rem;
}
.about-info__quote-icon--bottom {
  margin-top: 2.7rem;
  margin-left: auto;
}
.about-info__quote-name-block {
  padding-left: 2rem;
  border-left: 2px solid #DBDEE4;
}
.about-info__quote-name {
  margin-bottom: 0.8rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.5rem;
}
.about-info__quote-speciality {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.02em;
  color: #9661B0;
}

@media (max-width: 48em) {
  .about-info {
    margin-bottom: 29rem;
  }
  .about-info:before {
    width: 100%;
    height: calc(100% + 215.4rem);
    margin: -206.4rem 0 -9rem 0;
  }
  .about-info:after {
    bottom: -9rem;
    width: 53.6rem;
    height: 52.6rem;
  }
  .about-info__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
  .about-info__info-block {
    width: 100%;
    margin-right: 0;
    margin-bottom: 7rem;
  }
  .about-info__title {
    margin-bottom: 4.6rem;
  }
  .about-info__sub-title {
    margin-bottom: 3rem;
    font-size: 3.6rem;
    line-height: 5.6rem;
  }
  .about-info__text {
    margin-bottom: 6.4rem;
    font-size: 3rem;
    line-height: 4rem;
  }
  .about-info__quote-block {
    padding-bottom: 8.4rem;
  }
  .about-info__image-block {
    width: 48rem;
    height: 45.4rem;
    margin-right: 0;
    margin-left: -4rem;
    -webkit-box-shadow: 6rem 10rem 18rem 0 rgba(218, 221, 231, 0.6);
            box-shadow: 6rem 10rem 18rem 0 rgba(218, 221, 231, 0.6);
  }
  .about-info__quote-content {
    width: 20.8rem;
    margin-bottom: -8.4rem;
  }
  .about-info__quote {
    margin-bottom: 4rem;
    font-size: 2.2rem;
    line-height: 2.8rem;
  }
  .about-info__quote-icon {
    width: 3.2rem;
    height: 2.2rem;
  }
  .about-info__quote-icon--top {
    margin-bottom: 2.8rem;
  }
  .about-info__quote-icon--bottom {
    margin-top: 2.8rem;
  }
  .about-info__quote-name-block {
    border-left: 1px solid #DBDEE4;
  }
  .about-info__quote-name {
    margin-bottom: 0.2rem;
    font-size: 2.6rem;
    line-height: 3.3rem;
  }
  .about-info__quote-speciality {
    font-size: 1.8rem;
    line-height: 1.9rem;
  }
}
.reviews {
  margin-bottom: 18rem;
}
.reviews__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 9rem;
}
.reviews__title {
  font-weight: 500;
  font-size: 4.5rem;
  line-height: 5.71rem;
}
@media (max-width: 48em) {
  .reviews__title {
    font-size: 6rem;
    line-height: 6.8rem;
  }
}
.reviews__navigation-block {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 17.5rem;
}
.reviews__arrow {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 3.4rem;
  height: 3.4rem;
  cursor: pointer;
}
.reviews__arrow path {
  fill: #262525;
}
.reviews__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 2.5rem;
}
.reviews__pagination .swiper-pagination-current {
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.8rem;
}
.reviews__pagination .swiper-pagination-total {
  margin-top: 0.9rem;
  margin-left: 0.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
}
.reviews__item {
  height: auto;
  margin-top: 2.7rem;
  padding: 2.9rem 4.2rem 4.3rem 4.9rem;
  background-color: #F6F7FA;
}
.reviews__item-title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4rem;
}
.reviews__item-image-block {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 11.5rem;
  height: 11.5rem;
  margin-right: 2rem;
  margin-top: -5.6rem;
  border: 1.2rem solid #F6F7FA;
  border-radius: 100%;
  background-color: #fff;
  overflow: hidden;
}
.reviews__item-image-block > svg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 3.2rem;
  height: 3.2rem;
}
.reviews__item-image-block > svg path {
  fill: #C2C8D7;
}
.reviews__item-image-block > img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.reviews__item-name {
  margin-bottom: 0.3rem;
  font-weight: bold;
  font-size: 1.9rem;
  line-height: 2.4rem;
}
.reviews__item-city {
  font-size: 1.7rem;
  line-height: 2.4rem;
  color: #62636C;
}
.reviews__item-text {
  display: -webkit-box;
  -ms-line-clamp: 10;
  -webkit-line-clamp: 10;
  line-clamp: 10;
  -webkit-box-orient: vertical;
  margin-bottom: 4rem;
  font-size: 1.9rem;
  line-height: 2.6rem;
  overflow: hidden;
}
.reviews__item-rating-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.7rem;
}
.reviews__item-rating {
  margin-right: 1.7rem;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 2.8rem;
}
.reviews__item-rating-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews__item-rating-icons > svg {
  width: 2rem;
  height: 2rem;
  margin-right: 1.3rem;
}
.reviews__item-rating-icons > svg path {
  fill: #E6EAF4;
}
.reviews__item-rating-icons > svg:last-child {
  margin-right: 0;
}
.reviews__item-rating-icons > svg.fill path {
  fill: #9661B0;
}
.reviews__item-date {
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #62636C;
}

@media (max-width: 48em) {
  .reviews {
    margin-bottom: 12rem;
  }
  .reviews__title-block {
    margin-bottom: 10rem;
  }
  .reviews__navigation-block {
    width: 23.2rem;
    margin: 0 auto;
  }
  .reviews__arrow {
    width: 6.8rem;
    height: 6.8rem;
  }
  .reviews__pagination {
    margin: 0 2rem;
  }
  .reviews__pagination .swiper-pagination-current {
    font-size: 3.2rem;
    line-height: 4rem;
  }
  .reviews__pagination .swiper-pagination-total {
    margin-top: 0.8rem;
    margin-left: 0.5rem;
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .reviews__slider {
    margin: 0 -4rem 4rem -4rem;
  }
  .reviews__item {
    margin-top: 6rem;
    padding: 2rem 3.8rem 3.8rem 3.8rem;
  }
  .reviews__item-title-block {
    margin-bottom: 2rem;
  }
  .reviews__item-image-block {
    width: 14rem;
    height: 14rem;
    margin-right: 1.8rem;
    margin-top: -6rem;
    border: 1.4rem solid #F6F7FA;
  }
  .reviews__item-image-block > svg {
    width: 6.4rem;
    height: 6.4rem;
  }
  .reviews__item-name {
    margin-bottom: 1.2rem;
    font-size: 3.4rem;
    line-height: 2.9rem;
  }
  .reviews__item-city {
    font-size: 3.2rem;
    line-height: 2.9rem;
    color: #62636C;
  }
  .reviews__item-text {
    margin-bottom: 3rem;
    font-size: 3rem;
    line-height: 3.2rem;
    -ms-line-clamp: 12;
    -webkit-line-clamp: 12;
    line-clamp: 12;
  }
  .reviews__item-rating-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2.3rem;
  }
  .reviews__item-rating {
    margin-right: 2.6rem;
    font-size: 3.4rem;
    line-height: 3.2rem;
  }
  .reviews__item-rating-icons > svg {
    width: 2.6rem;
    height: 2.6rem;
    margin-right: 1.6rem;
  }
  .reviews__item-date {
    font-size: 2.8rem;
    line-height: 3rem;
  }
}
.video {
  margin-bottom: 18rem;
}
.video__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6rem;
}
.video__title {
  font-weight: 500;
  font-size: 4.5rem;
  line-height: 5.71rem;
}
@media (max-width: 48em) {
  .video__title {
    font-size: 6rem;
    line-height: 6.8rem;
  }
}
.video__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.video__item {
  width: 67.5rem;
}
.video__item:nth-child(n+3) {
  margin-top: 4.5rem;
}
.video__preview {
  width: 100%;
  height: 31rem;
}
.video__preview > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video__play-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 7.8rem;
  height: 7.8rem;
  border-radius: 100%;
  border: 1rem solid #9661B0;
  background-color: #fff;
  margin: -3.9rem auto -2.3rem auto;
}
.video__play-btn > svg {
  width: 1.2rem;
  height: 1.9rem;
  margin-left: 0.5rem;
}
.video__play-btn > svg path {
  fill: #262525;
}
.video__data-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3.3rem;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #62636C;
}
.video__item-title {
  margin-bottom: 0.7rem;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 2.8rem;
}
.video__item-description {
  width: 52rem;
  font-size: 1.8rem;
  line-height: 2.6rem;
}

@media (max-width: 48em) {
  .video {
    margin-bottom: 20rem;
  }
  .video__title-block {
    margin-bottom: 7rem;
  }
  .video__btn {
    margin: 0 auto;
  }
  .video__content {
    margin-bottom: 7rem;
  }
  .video__item {
    width: 100%;
  }
  .video__item:nth-child(n+2) {
    margin-top: 7rem;
  }
  .video__preview {
    width: 100%;
    height: 31rem;
  }
  .video__play-btn {
    width: 9.8rem;
    height: 9.8rem;
    border: 1.2rem solid #9661B0;
    margin: -4.9rem auto -2.5rem auto;
  }
  .video__play-btn > svg {
    width: 1.6rem;
    height: 2.6rem;
    margin-left: 0.4rem;
  }
  .video__data-block {
    margin-bottom: 2.5rem;
    font-size: 2.8rem;
    line-height: 2.55rem;
    color: #62636C;
  }
  .video__item-title {
    margin-bottom: 2rem;
    font-size: 3.6rem;
    line-height: 3.6rem;
  }
  .video__item-description {
    width: 100%;
    font-size: 3rem;
    line-height: 4rem;
  }
}
.article-why-you {
  margin-bottom: 18rem;
}
.article-why-you__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.article-why-you__text-container {
  width: 98rem;
}
.article-why-you__text-block {
  margin-bottom: 5rem;
}
.article-why-you__title {
  margin-bottom: 2rem;
}
.article-why-you__text {
  margin-bottom: 2rem;
}
.article-why-you__image-container {
  width: 31.7rem;
}
.article-why-you__image-block {
  width: 31.7rem;
  height: 45.4rem;
}
.article-why-you__image-block > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.article-why-you__image-block:nth-child(-n+1) {
  margin-bottom: 5rem;
}

.list-features {
  margin-bottom: 18rem;
}
.list-features--left .list-features__image-block {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.list-features__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 130rem;
}
.list-features__image-block {
  width: 60rem;
  height: 50rem;
}
.list-features__image-block > img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.list-features__text-block {
  width: 62rem;
}
.list-features__title {
  margin-bottom: 2.2rem;
  font-weight: 500;
  font-size: 4.5rem;
  line-height: 5.71rem;
}
@media (max-width: 48em) {
  .list-features__title {
    font-size: 6rem;
    line-height: 6.8rem;
  }
}
.list-features__list-item {
  list-style-type: disc;
  margin-left: 2.5rem;
}

body.lock {
  overflow: hidden;
}

@media (min-width: 48.01em) {
  .mobile {
    display: none;
  }
}
@media (max-width: 48em) {
  .desktop {
    display: none;
  }
}