@import "param";

.circle-btn {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 7.1rem;
  padding-left: 2.9rem;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 7.1rem;
    height: 7.1rem;
    opacity: 0.7;
    border-radius: 100%;
    background: #fff;
  }

  &__text {
    position: relative;
    top: -2px;
    margin-right: 1.4rem;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.54rem;
  }

  &__arrow {
    width: 3.4rem;
    height: 1.2rem;
    fill: $default-color;
  }

  &--gray {
    &:before {
      background: #E6EAF4;
    }
  }
}

.article {
  &__title {
    font-weight: 500;
    font-size: 4rem;
    line-height: 5.07rem;
  }

  &__text {
    font-size: 1.8rem;
    line-height: 2.6rem;
    color: #62636C;
  }

  &__list {
    margin-left: 2rem;

    li {
      list-style-type: disc;
      font-size: 1.8rem;
      line-height: 2.6rem;
      color: #62636C;
    }
  }
}

.slider-nav {
  display: flex;
  align-items: center;

  &__arrow {
    width: 3.4rem;
    height: 3.4rem;
    cursor: pointer;

    path {
      fill: $default-color;
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0 3rem;

    .swiper-pagination-current {
      font-weight: bold;
      font-size: 3rem;
      line-height: 3.8rem;
    }

    .swiper-pagination-total {
      margin-left: 0.5rem;
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}

@media (max-width: 48em) {
  .circle-btn {
    height: 11.6rem;
    padding-left: 5.8rem;

    &:before {
      width: 11.6rem;
      height: 11.6rem;
    }

    &__text {
      top: -1px;
      margin-right: 2.8rem;
      font-size: 3.6rem;
      line-height: 4.55rem;
    }

    &__arrow {
      width: 6.8rem;
      height: 2.4rem;
    }
  }

  .article {
    &__title {
      font-size: 6rem;
      line-height: 6.8rem;
    }

    &__text {
      font-size: 3rem;
      line-height: 3.8rem;
    }

    &__list {
      margin-left: 3.4rem;

      li {
        font-size: 3rem;
        line-height: 3.8rem;
      }
    }
  }

  .slider-nav {
    justify-content: center;

    &__arrow {
      width: 6.8rem;
      height: 3.4rem;
    }

    &__pagination {
      margin: 0 2rem;

      .swiper-pagination-current {
        font-size: 3.2rem;
        line-height: 4rem;
      }

      .swiper-pagination-total {
        margin-left: 0.5rem;
        font-size: 1.6rem;
        line-height: 2rem;
      }
    }
  }
}