@import "set";
@import "components";
@import "header";
@import "footer";
@import "intro";
@import "modal";
@import "login";

@import "main/about-intro";
@import "main/prod-category";
@import "main/about-info";
@import "main/projects";

@import "article/article-why-you";
@import "article/list-features";
@import "article/article-technology";
@import "article/article-life";
@import "article/article-advantages";
@import "article/info-cards";
@import "article/article-agrosector";
@import "article/article-medicine";

@import "about/intro-about-page";
@import "about/about-article";
@import "about/reviews";
@import "about/video";

@import "contacts/contacts";
@import "contacts/feedback";

@import "partners/partners";

@import "product-page/product-intro";
@import "product-page/product-description";
@import "product-page/related-products";

@import "cart/cart";

@import "order/order";
@import "order/order-taken";

@import "personal/personal";
@import "personal/personal-form";
@import "personal/my-order";
@import "personal/buy-history";

body.lock {
  overflow: hidden;
}

@media (min-width: 48.01em) {
  .mobile {
    display: none;
  }
}

@media (max-width: 48em) {
  .desktop {
    display: none;
  }
}