@import "set";
@import "components";
@import "header";
@import "footer";
@import "intro";

@import "main/about-intro";
@import "main/prod-category";
@import "main/about-info";
@import "main/projects";

@import "living/article-why-you";
@import "living/list-features";

@import "food/article-technology";
@import "food/article-life";
@import "food/article-advantages";
@import "food/info-cards";

@import "about/intro-about-page";
@import "about/about-article";
@import "about/reviews";
@import "about/video";

@import "contacts/contacts";
@import "contacts/feedback";

@import "partners/partners";

body.lock {
  overflow: hidden;
}

@media (min-width: 48.01em) {
  .mobile {
    display: none;
  }
}

@media (max-width: 48em) {
  .desktop {
    display: none;
  }
}