@import "../param";

.info-cards {
  position: relative;
  margin-bottom: 18rem;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40.5rem;
    z-index: -1;
    width: 100%;
    height: 123.8rem;
    background-color: #E6EAF4;
  }

  &--bg-empty {
    &:after {
      content: none;
    }
  }

  &__title {
    width: 64rem;
    margin-bottom: 7.7rem;
    @include title-font;
  }

  &__cards {
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 43.4rem;
    min-height: 47.1rem;
    padding: 5rem;
    margin-right: 5rem;
    background-color: #FFF;
    box-shadow: 1.5rem 2rem 10rem 0 rgba(218, 221, 231, 0.6);

    &:nth-child(n + 4) {
      margin-top: 9rem;
    }

    &:nth-child(3n + 3) {
      margin-right: 0;
    }
  }

  &__number-block {
    display: flex;
    align-items: center;
    margin-bottom: 2.2rem;
  }

  &__number-icon {
    width: 2.3rem;
    height: 2.3rem;
    margin-right: 1.7rem;

    path {
      fill: $purple;
    }
  }

  &__number {
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 5.31rem;
  }

  &__item-title {
    margin-bottom: 3rem;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 2.8rem;
  }

  &__item-description {
    font-size: 1.8rem;
    line-height: 2.6rem;
    color: #62636C;
  }

  &__item-quote-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__quote {
    width: 18.6rem;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  &__quote-icon {
    display: block;
    width: 3.2rem;
    height: 2.1rem;

    path {
      fill: #DBDEE4;
    }

    &--top {
      margin-bottom: 2.7rem;
    }

    &--bottom {
      margin-top: 2.7rem;
      margin-left: auto;
    }
  }

  &__quote-name-block {
    width: 18.6rem;
    margin-left: auto;
    padding-left: 2rem;
    border-left: 2px solid #DBDEE4;
  }

  &__quote-name {
    margin-bottom: 0.8rem;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  &__quote-speciality {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: 0.02em;
    color: $purple;
  }
}

@media (max-width: 48em) {
  .info-cards {
    margin-bottom: 20rem;

    &:after {
      top: 64rem;
      height: 54.4rem;
    }

    &__title {
      width: 100%;
      margin-bottom: 7rem;
    }

    &__cards {
    }

    &__wrapper {
      flex-wrap: nowrap;
    }

    &__navigation-block {
      margin-top: 6rem;
    }

    &__item {
      width: 100%;
      min-height: 67rem;
      padding: 6.2rem;
      margin-right: 0;
      box-shadow: 3rem 4rem 20rem 0 rgba(218, 221, 231, 0.6);

      &:nth-child(n + 4) {
        margin-top: 7rem;
      }

      &:nth-child(n + 2) {
        margin-top: 7rem;
      }
    }

    &__number-block {
      margin-bottom: 6rem;
    }

    &__number-icon {
      width: 4.6rem;
      height: 4.6rem;
      margin-right: 1.8rem;
    }

    &__number {
      font-size: 4.8rem;
      line-height: 3.7rem;
    }

    &__item-title {
      font-size: 3rem;
      line-height: 4rem;
    }

    &__item-description {
      font-size: 3.1rem;
      line-height: 3.7rem;
    }

    &__item-quote-block {
    }

    &__quote {
      width: 26rem;
      font-size: 2.8rem;
      line-height: 3.6rem;
    }

    &__quote-icon {
    }

    &__quote-name-block {
      width: 30rem;
      padding-left: 4rem;
      border-left: 1px solid #DBDEE4;
    }

    &__quote-name {
      margin-bottom: 1.6rem;
      font-size: 3rem;
      line-height: 4rem;
    }

    &__quote-speciality {
      font-weight: 600;
      font-size: 2.4rem;
      line-height: 2.8rem;
      letter-spacing: 0.02em;
      color: $purple;
    }
  }
}